.gallery {
  display: flex;
  flex-wrap: wrap;
}

figure {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 20em;
}

body {
    color: #2d200c;
    background: linear-gradient(
    rgba(155, 185, 146, 0.45), 
    rgba(155, 185, 146, 0.45)
    ),
    url(../img/subtle_white_mini_waves.png);
}